body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#schedule_link_mobile {
  display: none;
}
header {
  padding: 50px;
  padding-bottom: 0px;
  padding-top: 0px;
}

header h1 {
  margin-top: 35px;
  margin-bottom: 20px;
}
header p {
  margin-bottom: 25px;
}
main {
  padding: 50px;
  padding-top: 0px;
}

.reserLogo {
  padding-top: 50px;
  vertical-align: top;
  position: relative;
  bottom: 10px;
}
.logoS {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
footer {
  background-color: #f2f2f2;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

/* .navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
} */

.navBarItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: 96px;
  right: 80px;
}
.cardHeb h4 {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 5px;
}
.cardHeb p {
  margin-top: 0px;
  margin-bottom: 7px;
  margin-left: 5px;
}
.fullStar {
  margin-left: 5px;
}
.navA {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  text-decoration: none;
  color: black;
  padding-top: 50px;
}

.navAH {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  text-decoration: none;
  color: #80b2fe;
  border-top: #0065fc 2px solid;
  padding-top: 50px;
}

.navAS {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  text-decoration: none;
  color: #0065fc;
  padding-top: 50px;
}

.research {
  display: inline-block;
  align-items: center;
  border-radius: 20px;
  vertical-align: middle;
  margin-bottom: 32px;
  max-height: 40px;
  box-shadow: inset 0px 0px 0px 1px #f2f2f2;
}
.logoSearch {
  width: 13px;
  background-color: #f2f2f2;
  display: inline;
  vertical-align: middle;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.input {
  display: inline-block;
  border-width: 0px;
}
.rechercher {
  background-color: #0065fc;
  display: inline;
  position: relative;
  bottom: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 11px;
  color: white;
  vertical-align: middle;
  border: 0px;
}
.filterGroup {
  margin-bottom: 30px;
}
.filterTitle {
  display: inline-block;
}
.filterDiv {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: inline-block;
  box-shadow: inset 0px 0px 0px 2px #d9d9d9;
  margin-left: 30px;
}
.filterDiv:hover,
.pFilter:hover {
  color: #0065fc;
  border: #deebff;
}
.filterDiv:hover {
  color: #0065fc;
  box-shadow: inset 0px 0px 0px 2px #deebff;
}
.iconFilter {
  height: 17px;
  background-color: #deebff;
  display: inline;
  vertical-align: middle;
  padding: 14px;
  border-radius: 20px;
  fill: #0065fc;
  display: inline-block;
  margin-right: 0px;
  position: relative;
  right: 19px;
}
.pFilter {
  display: inline-block;
  margin: 0px;
  margin-right: 0px;
  position: relative;
  right: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.logoInformation {
  height: 12px;
  width: 12px;
  display: inline-block;
  border: solid 1px #f2f2f2;
  border-radius: 24px;
  padding: 5px;
  vertical-align: middle;
  margin-right: 10px;
}
.infoP {
  display: inline-block;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.hebMarseille {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 20px;
  display: inline-block;
  max-width: 800px;
  vertical-align: top;
  max-height: 640px;
}
.star {
  width: 16px;
}
.chart {
  width: 25px;
}
.lesP {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.flexHeb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cardHeb {
  background-color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 20px;
  width: 236px;
  margin-bottom: 30px;

  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
}
.imgHeb {
  width: 236px;
  height: 114px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.font {
  font-weight: bold;
}
.divPop {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 20px;
  display: inline-block;
  max-width: 420px;
  max-height: 640px;
}
a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}
.cardPop {
  display: flex;
  flex-direction: row;
  max-width: 343px;
  height: 144px;
  background-color: white;
  border-radius: 20px;
  padding-left: 8px;
  margin-bottom: 50px;

  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
}
.imgPop {
  width: 127px;
  height: 125px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
  align-self: center;
  margin-right: 8px;
}
.flexPop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 625px;
}
.flexAct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imgActL {
  width: 302px;
  height: 390px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.imgActPL {
  width: 302px;
  height: 181px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.imgActPM {
  width: 302px;
  height: 140px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.imgActPP {
  width: 302px;
  height: 109px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.flexActP {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flexActP2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardAct {
  border-radius: 20px;

  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
}

.cardAct h3 {
  margin-left: 10px;
}

.actT {
  margin-top: 50px;
  margin-bottom: 30px;
}

.divFooter {
  vertical-align: top;
  margin-right: 250px;
}

@media screen and (max-width: 1374px) {
  .section {
    display: block;
    margin-top: 30px;
  }
  .hebMarseille {
    display: block;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .divPop {
    display: block;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 40px;
  }
  .flexPop {
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  a.cardPop {
    width: 400px;
  }
  .flexAct {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1305px) {
  .hebMarseille {
    max-width: 90%;
  }
  .divPop {
    max-width: 90%;
    padding-bottom: 0px;
  }
  .flexActP2 {
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    margin-top: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .flexAct {
    flex-direction: row;
    justify-content: space-around;
  }
  .cardAct {
    margin-top: 30px;
  }
  .flexHeb {
    width: 100%;
  }
  .hebMarseille {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
  main {
    padding: 0px;
  }
  .cardHeb {
    width: 400px;
  }
  .imgHeb {
    width: 400px;
  }
  .cardPop {
    width: 500px;
    max-width: 100%;
  }
  .cardAct {
    width: 300px;
  }
}
@media screen and (max-width: 930px) {
  .divFooter {
    margin-right: 100px;
  }
  .cardHeb {
    width: 300px;
  }
  .imgHeb {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
    header {
        padding-left: 0px;
        padding-right: 0px;
    }
    .logoS {
      padding-left: 20px;
      padding-right: 20px;
    }
    .bigTitle {
      padding-left: 20px;
      padding-right: 20px;
    }
  footer {
    flex-direction: column;
  }
  .navBarItem {
    justify-content: space-evenly;
    position: static;
    align-items: baseline;
  }
  .navAH {
    padding: 10px;
    border-bottom: #0065fc 3px solid;
    border-top: 0;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .navA {
    padding: 10px;
    border-bottom: #f2f2f2 3px solid;
    border-top: 0;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .hebMarseille {
    background-color: white;
    position: relative;
    top: 650px;
  }
  .divPop {
    position: relative;
    bottom: 1650px;
    border-radius: 0px;
  }
  .cardHeb {
    width: 90%;
  }
  .imgHeb {
    width: 100%;
  }
  .flexAct {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .cardAct {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .imgActL {
    height: 120px;
    width: 100%;
  }
  .imgActPL {
    height: 120px;
    width: 100%;
  }
  .imgActPM {
    height: 120px;
    width: 100%;
  }
  .imgActPP {
    height: 120px;
    width: 100%;
  }

  .flexActP {
    display: block;
  }
  .flexActP2 {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .navBarItem {
    padding-top: 30px;
  }
  body {
    width: 100%;
  }
  h1 {
    font-size: 22px;
  }
  #schedule_link_pc {
    display: none;
  }
  #schedule_link_mobile {
    display: inline-block;
  }
  .iconLoupe {
    width: 20px;
  background-color: #0065fc;
  display: inline;
  vertical-align: middle;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  left: 79px;
  }
  .logoSearch {
    width: 19px;
    height: 19px;
    padding: 15px;
  }
  .research {
    width: 320px;
    max-height: 51px;
  }
  .filterTitle {
    display: block;
  }
  .filterDiv {
    margin-bottom: 8px;
    margin-left: 20px;
  }
  .logoInformation {
    margin: 0;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    bottom: 10px;
  }
.infoP {
  font-size: 15px;
  width: 290px;
}
.hebMarseille {
  width: auto;
  top: 530px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.imgPop {
height: 127px;
}
.cardPop {
  margin-bottom: 10px;
}
.divPop {
  padding-bottom: 10px;
}
.cardHeb {
  width: 100%;
}
.divPop {
  bottom: 1580px;
  margin-top: 0px;
}
.section {
  margin-top: 0px;
}
.actT {
  margin-top: 0px;
}
.actT h2 {
  margin-top: 0px;
  margin-left: 20px;
}
.cardAct h3 {
  padding-bottom: 20px;
}
.divFooter a {
line-height: 10px;
display: block;
}
footer {
  padding-top: 0px;
}
.divFooter h3 {
  margin-top: 40px;
}
.divFooter {
  margin-right: 0px;
}
}
